# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# Datasets
data/raw/*
!data/raw/.gitkeep

# IDE
.vscode/
.idea/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log